#root {
  position: absolute;
  width: 1920px;
  height: 1080px;
}

div.teamName {
  width: 400px;
  height: 40px;
  font-size: 24pt;
  text-align: center;
}
div#blueTeamName {
  position: absolute;
  top: 920px;
  right: 1050px;
}
div#goldTeamName {
  position: absolute;
  top: 920px;
  left: 1100px;
}

div.scoreMarkers {
  height: 69px;
  width: 386px;  /* Enough space for 8 markers. */
}
div#blueScoreMarkers {
  position: absolute;
  top: 969px;
  right: 1005px;
  direction: rtl;
}
div#goldScoreMarkers {
  position: absolute;
  top: 969px;
  left: 1079px;
  direction: ltr;
}

div.scoreMarkers img {
  /* The markers are slanted, so we actually overlap them by 26 pixels. The
   * overlap is split between both sides so that the same rules can be used for
   * both blue and gold.
   */
  margin-left: -13px;
  margin-right: -13px;
}
div.scoreMarkers img.empty {}
div.scoreMarkers img.win {}
